{% extends 'base.html' %}
{% block body %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

<style>

        .enter{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(124, 186, 224);
                }


            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }
            
           
        
        #opt {
            color: #000;
            text-align:top;
            padding: 0px;
            background-color: white;
            
        } 

        
        .acc {
            color: #000;
            text-align:top;
            padding: 0px;
            height: 25px; 
            width: 150px;
            background-color: white;
            
        } 

        .txt{
            height: 20px; 
            width: 150px;
            padding: 0;
            background-color: white;
            color: #000;
            text-align: left;
            
        }
        .container-fluid{
            width:100%;
            
        }
        .btns_prnt{
            width: 350%;
            color: #fff;
            width: 100%;
            cursor:pointer;
            background-color: rgba(240, 248, 255, 0);
            border: none;
           
        
        }
        .btns_prnt:hover{
            background-color:rgb(44, 158, 187);
            color: rgb(15, 14, 14);
        }
        .close {
            position: absolute;
            top: 0px;
            right: 8px;
            font-size: 17px;
            transform: rotate(0deg);
            color: rgb(0, 0, 0);
            cursor: pointer;
            text-decoration: none;
            text-align: end;
        }
        .short {
            display: none;
            position: fixed;
            top: 150px;
            right: 30px;
            border: 1px solid #f1f1f1;
            z-index: 9;
            width: 300px;
            height: 450px;
        }
        .modal{
            display: none;
            position: fixed;
            border: 1px solid #f1f1f1;
            top: 140px;
        }
        .content a:hover {
            background-color: rgb(238, 167, 75);
        }
        .form-container {
            max-width: 350px;
            height: 300px;
            padding: 2px; 
        }
        
        
        .bt{
            text-align: end;
        }
        .ScrollStyle{
            /* max-height: 200px; */
            overflow-y: scroll;
            
        }
       
</style>

<div class="container-fluid" >
    <div class="main-panel" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <div class="content-wrapper" >
            <div class="row d-flex" style="background-color:  rgb(124, 186, 224);color:rgb(0, 0, 0);width: 100%;margin: auto;">
                <div class="col" style="font-weight:600 ;text-transform:capitalize;">Accounting Voucher Creation</div>
                <div class="col-4" style="font-weight:600 ;text-transform:capitalize;">{{company.name}}</div>
          
                <div class= 'col-2'><a href="javascript:history.go(-1);">
                    <span class="pull-right clickable" data-effect="fadeOut"><i class="fa fa-times" style="color: black;"></i></span></a>
                </div>                      
            </div>
            <form action="{% url 'save_credit_voucher' %}" id="frmvouch" method="POST" >
                {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-bordered table-sm border-dark" style="background-color: rgb(245, 240, 230);color:rgb(0, 0, 0);">
                  <tr  class="p-2">
                    <th colspan="8" style="border-bottom: solid 0.5px rgba(205, 196, 196, 0.2) ; border-right:none ;">
                      <div>
                      <label style="font-weight:600 ;text-transform:capitalize; font-size: 18px;background-color: rgb(17, 54, 86);" 
                      name = 'vouchtype' value = 'Credit Note'>&nbsp;&nbsp;&nbsp;&nbsp;Credit Note&nbsp;&nbsp;&nbsp;&nbsp;</label>
                     
                      <input type="hidden" value="{{name}}" name="type">
                        <label style="font-weight: 400; color: #000;">No.</label>&nbsp;&nbsp;

                        {% if vouch.voucherNumber == 'Automatic' %}
                        <label style="font-weight: 400; color: #000;" name = 'idlbl'>{{v}}</label>
                        <input type="hidden" value="{{v}}" name="idlbl">
                        {% elif vouch.voucherNumber == 'Manual'%}
                        <input type="number" id = 'vouchNum' style="background-color: rgb(255, 229, 183);height: 20px;" name = 'idlbl'>
                        {% elif vouch.voucherNumber == 'None' %}
                        <input type="hidden" value="" name="idlbl">
                        <label name = 'idlbl'></label>
                        {% elif vouch.voucherNumber == 'Automatic(Manual Override)' %}
                        <input type="number" id = 'vouchNum' style="background-color: rgb(255, 229, 183);height: 20px;">
                        {% endif %}

                      </div>

                      <div class= "account" style="color: #000;font-weight:500 ;text-transform:capitalize; font-size: 18px;">
                        <span class="input-group">
                        <label>&nbsp;&nbsp;Party A/c name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</label>

                        
                           
                            <!-- <select id="payacc"  name="acc"  class="mb-4 form-control" style="width: 0;"onclick="closeForm()">
                                <option id = "opt">&nbsp;&nbsp;List of Ledger Accounts </option> 
                                {% for i in ledg %}
                                <option id = "opt" name ='opt' value="{{i.id}}" >&nbsp;&nbsp;{{i.name}}</option> 
                                {% endfor %}
                            </select>  -->
                           
                            
                       
                       <input type="text"value="{{ value }}"  id="payacc"class="form-control" name="acc"value=""onclick="Form()" required> 
                        
                        
                    </span>
                    <span class="input-group">
                        
                    <label>&nbsp;&nbsp;Current Balance :&nbsp;&nbsp;</label>
                    <label id ='curbalance'></label>
                    
                    </span>
                        </div>


                        <div class= "account" style="color: #000;font-weight:500 ;text-transform:capitalize; font-size: 18px;">
                            <span class="input-group">
                            <label>&nbsp;&nbsp;Ledger Account&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</label>
    
                              
                            <input type="text"  id="payacc1"class="form-control"name="ledger" onclick="showform()" required>
                            
                        </span>
                        <span class="input-group">
                        <label>&nbsp;&nbsp;Current Balance :&nbsp;&nbsp;</label>
                        <label id ='curbalance'></label>
                       
                        </span>
                            </div>


                      
                       </th>
                    <th colspan="10" class="text-right mt-0" style="border-bottom: solid 0.5px rgba(255, 255, 255, .2);
                            border-left:none ; color: #000;">                           
                      
                      <div><h5 class="text-dark">Ledger Account Creation</h5>
                        <a href="{% url 'ledger_create' %}" style="cursor:pointer" class="btn btn-info text-black " role="button">Create</a> </div>

                      <div >{{date1 | date:'d-M-Y'}}</div>
                      <input type="hidden" name = 'date1' value="{{date1|date:'Y-m-d'}}">
                      <div>{{date1 | date:'l'}}</div>
                </th>

                  </tr>

                    <tbody style="border-color: rgb(112, 111, 111); " class = 'part'>
                        <div>
                        <tr>
                            <th colspan="13" class="text-dark" style="border: none;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name of Item</th>
                            <th colspan="2" class="text-right text-dark" style=" font: weight 8px;size: 15px; border: none;">Quantity&nbsp;</th>
                            <th colspan="2" class="text-right text-dark" style=" font: weight 8px;size: 15px; border: none;">Rate&nbsp;</th>
                            <th colspan="2" class="text-right text-dark" style=" font: weight 8px;size: 15px; border: none;">Amount&nbsp;</th>
                        </tr></div>

                        <!--<div class = 'part'>-->
                            <tr style="border: none;">
                             
                                <td colspan="12" style="border: none;" class="mt-2">
                                    <div class="my-1">
                                            <span class="input-group">
                                        <!-- <select id="payacc1"  name="acc1" class=" rows acc payacc form-control m-4  p-0" onchange="changeCurbalance();" onclick="closeForm()">
                                            <option id = "opt" >&nbsp;&nbsp;Name of Item</option> 
                                            {% for i in list %}
                                        <option id = "opt" value="{{i.id}}">&nbsp;&nbsp;{{i.name}}</option> 
                                        {% endfor %}

                                        </select>  -->
                                        
                                            <input type="text"  id="item" class="form-control" name="value"onclick="showForm()" value="{{ value }}">
                                       
                                            </span>
                                    </div>   
                                       
                                    
                                </td>
                                <td colspan="2" class="text-end mt-0" style="border: none; ">
                                    <input type="number" class = 'txt amnt pt-0' id= 'quantity' name = 'quant'oninput="calculate()"></td>

                                    <td colspan="2" class="text-end mt-0 " style="border: none; ">
                                        <input type="number" class = 'txt amnt pt-0' id= 'rte' name = 'rate'value="{{ rate }}"  onchange="createRow()"oninput="calculate()"></td>

                                <td colspan="2" class="text-end mt-0 " style="border: none; ">
                                    <input type="number" class = 'txt amnt pt-0'value="" id= 'amnt1' name = 'amnt' oninput='calculateTotal()'readonly></td>                

                            </tr>

                    </tbody>
                    <tfoot >
                        {% if vouch.voucherNarration == 'Yes' %}
                      <td colspan="12" style="border: none; ">
                       
                        <label class="text-dark">Narration : </label>
                            <textarea name  = 'narrate' style="height: 50px; width:250px; background-color: white"></textarea>
                      </td>
                        {% else %}
                        <td colspan="12" style="border: none;" name  = 'narrate'></td> 
                        {% endif %}    
                        <td colspan="2" class="text-right" style="border: none; " >
                            
                            <input  type="hidden"class="mx-5">
                        </td>
                        <td colspan="2" class="text-right" style="border: none; " >
                            
                            <input  type="hidden" class="mx-5">
                        </td>
                      <td colspan="2" class="text-right" style="border: none; " >
                        <label class="text-dark text-right" >Total : </label>
                        <!--<input type="text" class="txt " id ='total' name = 'total' readonly>
                        <label class="txt" id ='total' name = 'total' ></label>-->
                        <input  type="number" class="txt " id = 'total'value="" name="total" readonly>
                      </td>
                      
                    </tfoot>
                    
                </table>
                <div class="enter w-100 py-1 mt-0">
                    <button type = 'submit' class="btn " style="color:aliceblue;background-color: rgb(7, 62, 94);" >SAVE</button>
                  </div>  
                
              </div>
              

            </form>
        </div>
    </div>
</div>
    
    

        <div class="form-popup short" id="firstForm" style="background-color: #213b52" >
            <form action="#"method="get" class="form-container1" >
                <h6 style="background-color:rgb(17, 169, 240) ;color:white text">List of Ledger Accounts</h6>
                <a href="{% url 'ledger_create' %}" style="cursor:pointer" class="btn bt btns_prnt" role="button">Create</a>  
                <hr>
                <div>
                    <table>   
                        <tr>
                            {% for l in ledg %}
                                <input type="submit"  name ='name' onclick="nameValue('{{l.name}}','{{l.id}}');Value()" class="btns_prnt"value="{{l.name}}">
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <input type="text" name="id" hidden value="{{l.id}}">
            </form>
            <button type="button" class="btn cancel close" onclick="closeForm()">x</button>
        </div>
        

        <div class="form-popup short" id="underForm" style="background-color: #213b52" >
            <form action="#" class="form-container1" >
                <h6 style="background-color:rgb(17, 169, 240) ;color:white text">List of Ledger Accounts</h6>
                <a href="{% url 'ledger_create' %}" style="cursor:pointer" class="btn bt btns_prnt" role="button">Create</a>  
                <hr>
                <div>
                    <table>   
                        <tr>
                            {% for l in sale %}
                                <option  name ='opt' onclick="setvalue('{{l.name}}','{{l.id}}')" class="btns_prnt">&nbsp;&nbsp;{{l.name}}</option>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <input type="text" name="underhidden" hidden value="{{l.id}}">
            </form>
            <button type="button" class="btn cancel close" onclick="closeForm()">x</button>
        </div>
        
       
        <div class="form-popup short " id="myForm" style="background-color: #213b52" >
            <form action="{% url 'save_item' %}?value={{ value }}"method="get" class="form-container1" >
                <h6 style="background-color:rgb(17, 169, 240) ;color:white text">List of Stock Item</h6>
                <a href="{% url 'stock_items_creation' %}" style="cursor:pointer" class="btn bt btns_prnt" role="button">Create</a>  
                <hr>
                <div>
                    <table>
                        <tr>
                            {% for l in list %}
                                <input type="submit" name ='value' onclick="Set_value('{{l.name}}','{{l.id}}')" class="btns_prnt"value="{{l.name}}">
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <input type="text" name="underhidden" hidden value="{{l.id}}">
            </form>
            <button type="button" class="btn cancel close" onclick="closeForm()">x</button>
        </div> 


        <div class="form-popup modal ScrollStyle" id="partyForm" style="background-color: #213b52" >
            <form action="#"method="get" class="" >

                
                <div class="m-0">
                    <div class="row   p-2 m-0">
                        <div class="col-sm-3 m-0 p-0"></div>  
                        <div class="col-sm-6 m-0 p-0">
                                
                                <div class="row bg-info text-light p-2 m-0">
                                    <div class="col-md-6">Party Details</div>
                                    <div class="col-md-2">
                                        {% for i in tally %}
                                            {{i.name}}
                                        {% endfor %}
                                    </div>
                                </div>

                            <div class="row">
                              
                                
                                <form class="p-4" style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'save_receipt_details' %}" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="p-3">
                                        <div class="row   p-2 m-0">
                                            <div class="col-sm-4 m-0 p-0"> <label >Party Name : </label></div>
                                            <div class="col-sm-6 m-0 p-0"><input type="text" name="pname"value="{{ name }}" class="text-white" style="background-color: rgba(240, 248, 255, 0);border:none;"></div>
                                            <div class="col-sm-4 m-0 p-0"></div>
                                        </div> 
                                        <div class="row  p-2 m-0">
                                            <div class="col-sm-4 m-0 p-0"> <label for="a">Tracking No(s)</label></div>
                                            <div class="col-sm-6 m-0 p-0"><input type="text" name="Track" class="form-control" id="a" required></div>
                                            <div class="col-sm-4 m-0 p-0"></div>
                                        </div> 
                                       
                                    </div>

                                  <div class="col-lg-6">
                                    
                                    <div class="row  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                                        <div class="col-sm-12 m-0 p-4">
                                            
                                            <h5 class="text-center">Receipt Details</h5> <br>
                                            <div class="row   p-2">
                                                <div class="col-sm-8 m-0 p-0"> <label for="c">Dispatch Doc No</label></div>
                                                <div class="col-sm-4 m-0 p-0">
                                                    <input type="text"class="form-control"name="dis_doc">
                                                </div>
                                                <div class="col-sm-0 m-0 p-0"></div>
                                            </div>
                                            <div class="row  p-2">
                                                <div class="col-sm-8 m-0 p-0"> <label for="c">Dispatched Through</label></div>
                                                <div class="col-sm-4 m-0 p-0">
                                                    <input type="text"class="form-control"name="dis_t">
                                                </div>
                                                <div class="col-sm-0 m-0 p-0"></div>
                                            </div>
                                            <div class="row   p-2">
                                                <div class="col-sm-8 m-0 p-0"> <label for="c">Destination</label>
                                                </div>
                                                <div class="col-sm-4 m-0 p-0">
                                                    <input type="text"class="form-control"name="des">
                                                </div>
                                                <div class="col-sm-0 m-0 p-0"></div>
                                            </div>
                                            <div class="row   p-2">
                                                <div class="col-sm-8 m-0 p-0"> <label for="c">Carrier Name/Agent</label></div>
                                                <div class="col-sm-4 m-0 p-0">
                                                    <input type="text"class="form-control"name="carri">
                                                </div>
                                                <div class="col-sm-0 m-0 p-0"></div>
                                            </div>
                                            <div class="row  p-2">
                                                <div class="col-sm-8 m-0 p-0"> <label for="c">Bill of Lading/LR-RR No</label></div>
                                                <div class="col-sm-4 m-0 p-0">
                                                    <input type="text"class="form-control"name="bill">
                                                </div>
                                                <div class="col-sm-0 m-0 p-0"></div>
                                            </div>
                                            <div class="row  p-2">
                                                <div class="col-sm-8 m-0 p-0"> <label for="c">Date</label></div>
                                                <div class="col-sm-4 m-0 p-0">
                                                    <input type="date"class="form-control"name="dat_e">
                                                </div>
                                                <div class="col-sm-0 m-0 p-0"></div>
                                            </div>
                                            <div class="row   p-2">
                                                <div class="col-sm-8 m-0 p-0"> <label for="c">Motor Vehicle No</label></div>
                                                <div class="col-sm-4 m-0 p-0">
                                                    <input type="text"class="form-control"name="veh">
                                                </div>
                                                <div class="col-sm-0 m-0 p-0"></div>
                                            </div>
                                        </div>
                                    </div> <br>
                                </div>
                                 <div class="col-lg-6">
                                    <div class="row   p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                                        <div class="col-sm-12 m-0 p-4">
                                            
                                            <h5 class="text-center">Original Invoice Details</h5> <br>
                                            <div class="row  p-2">
                                                <div class="col-sm-8 m-0 p-0"> <label for="c">Original Invoice No</label></div>
                                                <div class="col-sm-4 m-0 p-0">
                                                    <input type="text"class="form-control"name="invo">
                                                </div>
                                                <div class="col-sm-0 m-0 p-0"></div>
                                            </div>
                                            <div class="row   p-2">
                                                <div class="col-sm-8 m-0 p-0"> <label for="c">Date</label></div>
                                                <div class="col-sm-4 m-0 p-0">
                                                    <input type="date"class="form-control"name="dates">
                                                </div>
                                                <div class="col-sm-0 m-0 p-0"></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                 </div>
                
                                    <div class="enter w-100 py-4"><button type="submit" class="btn btn-info w-15">SUBMIT</button></div> 
                                </form>

                            </div>
                           </div>

                        </div>
                    <div class="col-sm-5 m-0 p-0"></div>
                </div>
            
                
            </form>
            <button type="button" class="btn cancel close" onclick="closeForm()">x</button>
        </div> 

    





<!--modal for party create receipt-->




<script>
    function setvalue(under,underId){
            document.getElementById('under').value= under;
            document.getElementById('underForm').style.visibility= "block";
            document.getElementsByName('underhidden').value= underId;
        }
    function closeForm() {
            document.getElementById("underForm").style.display = "none";
        }
    function showform(){
            document.getElementById('underForm').style.display= "block";
        }
    function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    function showForm(){
            document.getElementById('myForm').style.display= "block";
        }
    function Set_value(under){
            document.getElementById("item").value= under;
            // localStorage.setItem('item', document.getElementById("item").value);
            // window.location.assign('/allocation_page/' + document.getElementById("item").value);
            document.getElementById('myForm').style.visibility= "block";
        }
    function ShowForm(){
            document.getElementById('firstForm').style.display= "block";
        }
    function nameValue(under,underId){
            document.getElementById("payacc").value= under;
            document.getElementById('firstForm').style.visibility= "block";
            document.getElementsByName('underform').value= underId;
        }
        function Form(){
            document.getElementById('partyForm').style.display= "block";
        }
    function Value(under,underId){
            document.getElementById("payacc").value= under;
            document.getElementById('partyForm').style.visibility= "block";
            document.getElementsByName('underform').value= underId;
        }
</script>

<script>
    function calculate(){
        var quantity = document.getElementById("quantity").value;
        var rate = document.getElementById("rte").value;
        var amount = document.getElementById("amnt1");
        var total = document.getElementById("total");
        amount.value = quantity * rate;
        total.value = quantity * rate;
    }
 </script>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    

<script>
    document.querySelector("#payacc").addEventListener('change', function(){
        window.location.assign('/party_create/' + this.value);
    });
    
</script>



<script>
    document.querySelector('#payacc').addEventListener('submit', function(event){
        event.preventDefault();
        let acc = document.querySelector(".acc").value;
        // let acc = document.querySelector("select[name='acc']").value;
        //store acc in session
        window.sessionStorage.setItem('acc', acc);
    });
    
</script>
     
<script>

/*-----------------------set current balance-----------*/


    $("#payacc").change(function () {
    const accid = $(this).val();
    //console.log(accid);
    $.ajax({
        url: '{% url "cur_balance" %}',
        data: {
                'id': accid
        },
        
        success: function (data) {
            if(data[0].opening_blnc_type == 'Dr'){       
            curData = '<input id ="led" class= "txt" readonly value = '+ data[0].opening_blnc +'> <input id ="ledt" class= "txt" readonly value = '+data[0].opening_blnc_type+'>';}
            else{
            curData = '<input id ="led" class= "txt" readonly value = '+ data[0].opening_blnc +' style="color: red;"> <input id ="ledt" style="color: red;"  class= "txt" readonly value = '+data[0].opening_blnc_type+'>';}
            console.log(curData);
            var val = data.opening_blnc;
            //console.log(val);
            $("#curbalance").html(curData);
            //console.log(data);
        }
        
    });
    
});



function changeCurbalance(){

    const id1 = $(this).attr("id")
    const parid =$('#payacc'+id1).val();
    //console.log(id1);
    //console.log('#blnc'+id1)

    $.ajax({
        url: '{% url "cur_balance" %}',
        data: {
                'id': parid
        },
        
        success: function (data) {
            
            if(data[0].opening_blnc_type == 'Dr'){       
            curData1 = '<input id ="pled" class= "txt" readonly value = '+ data[0].opening_blnc +'> <input id ="pledt" class= "txt" readonly value = '+data[0].opening_blnc_type+'>';}
            else{
            curData1 = '<input id ="pled" class= "txt" readonly value = '+ data[0].opening_blnc +' style="color: red;"> <input id ="pledt" style="color: red;"  class= "txt" readonly value = '+data[0].opening_blnc_type+'>';}
            //console.log(curData);
            $("#blnc"+id1).html(curData1);
        }
        
    });
    
    
}
/*-----------------------set current balance-----------*/


/*----------------- create new row----&---change current balance while entering amount------*/
var id = 1
function createRow(){

    const ac = $('#payacc').val();
    const curblnc = $('#led').val();
    const curblnct = $('#ledt').val();
    var amount1= $('#amnt'+id).val();

    $.ajax({
            url: '{% url "cur_balance_change" %}',
            data: {
                    'curblnc': curblnc,
                    'amount' : amount1,
                    'curblnct': curblnct,
                    'ac' : ac,
            },
            
            success: function (data) {
                console.log(data)
                
                $("#curbalance").html(data);
                //console.log(cur_change);
            }
            
        });

    
              
    const pac = $('#payacc'+id).val();
    const curblnc1 = $('#pled').val();
    const curblnct1 = $('#pledt').val();
    
    $.ajax({
        url: '{% url "pcur_balance_change" %}',
        data: {
                'curblnc': curblnc1,
                'amount' : amount1,
                'curblnct': curblnct1,
                'pac' : pac,
        },
        
        success: function (data) {
            $("#blnc"+(id-1)).html(data);
            //console.log('#blnc'+id);
        }
    
    });
        

   
    id++;
    $(".part").append('<tr style="border: none;"><td colspan="12" style="border: none;" class="mt-4"> <input type="text"  id="item" class="form-control" name="item"onclick="showForm()" ></td><td colspan="2" class="text-end mt-0 mx-5" style="border: none; "><input type="number" class = "txt amnt mx-5 float-right" id= "amnt'+id+'" oninput="calculateTotal();" onchange="createRow()" name = "amnt" ><input type="number" class = "txt amnt mx-5  float-right" id= "amnt2'+id+'" name = "amnt" ><input type="number" class = "txt amnt mx-5  float-right" id= "amnt3'+id+'"  name = "amnt" ></td></tr>')

       
}

/*----------------- create new row-------------*/

/*--------- Total----------*/

function calculateTotal() {
    var sum = 0 ;
    var count = $('.amnt').length
    
  for(var i = 1; i <= count; i++) {
    var value1 = document.getElementById("amnt" + i);
    if(isNaN(value1.value) == false){
        sum += parseInt(value1.value) ;
    }
  }
    //console.log(sum);
  //document.getElementById('total').innerHTML = sum;
  $('#total').val(sum);
}

</script>

{% endblock %}
